/* src/styles/about.css */

@layer app;

:root {
  --about-hero-bg-color: var(--clr-primary);
  --library-card-bg-color: var(--clr-primary-shade);
}

.page-about {
  .about {
    .container.grid {
      grid-template-columns: 4.5fr 3fr;
      border-radius: 1rem;
      overflow: hidden;
    }

    .about__content {
      gap: 2rem;
      background-color: var(--about-hero-bg-color);
      background-image: url("/assets/about/desktop/bg-pattern-hero-about-desktop.svg");
      background-repeat: no-repeat;
      background-position: bottom right;
      padding-block: clamp(5rem, calc(3.789625rem + 5.164vw), 8.4375rem);
      padding-inline: clamp(1.5rem, calc(-0.0625rem + 6.667vw), 5.9375rem);
      color: var(--banner-text-color);
    }

    .about__image {
      height: 100%;
      overflow: hidden;

      picture,
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }

  .talent,
  .deal {
    .container.grid {
      border-radius: 1rem;
      overflow: hidden;
    }

    .talent__image,
    .deal__image {
      height: 100%;
      overflow: hidden;

      picture,
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    .talent__content,
    .deal__content {
      gap: 2rem;
      background-color: var(--library-card-bg-color);
      padding-block: clamp(5rem, calc(3.789625rem + 5.164vw), 8.4375rem);
      padding-inline: clamp(1.5rem, calc(-0.0625rem + 6.667vw), 5.9375rem);

      h2 {
        color: var(--clr-primary);
        font-size: clamp(2rem, calc(1.824rem + 0.751vw), 2.5rem);
      }
    }
  }

  .talent {
    .container.grid {
      grid-template-columns: 2fr 3fr;
    }

    .talent__content {
      background-image: url("/assets/shared/desktop/bg-pattern-two-circles.svg");
      background-repeat: no-repeat;
      background-position: -170% 100%;
    }
  }

  .locations {
    .leaf-decorative {
      top: 11rem;
      right: -21rem;
    }
  }

  .deal {
    .container.grid {
      grid-template-columns: 3fr 2fr;
    }

    .deal__content {
      background-image: url("/assets/shared/desktop/bg-pattern-two-circles.svg");
      background-repeat: no-repeat;
      background-position: bottom left;
    }
  }

  @media only screen and (width <= calc(975 / 16 * 1rem)) {
    .about {
      .container.grid {
        grid-template-columns: 1fr;
      }

      .about__content {
        background-position: -145% 150%;
        text-align: center;
      }

      .about__image {
        order: -1;
      }
    }

    .talent,
    .deal {
      .container.grid {
        grid-template-columns: 1fr;
      }

      .talent__content,
      .deal__content {
        text-align: center;
        background-image: url("/assets/shared/desktop/bg-pattern-three-circles.svg");
        background-position: bottom right;
      }

      .talent__image,
      .deal__image {
        order: -1;
      }
    }
  }

  @media only screen and (width <= calc(670 / 16 * 1rem)) {
    .about {
      margin-block-end: 0;

      .container.grid {
        width: 100%;
        margin: 0;
        border-radius: 0;
      }

      .about__content {
        background-size: 70%;
        background-position: right -60%;
      }
    }

    .talent,
    .deal {
      .container.grid {
        width: 100%;
        margin: 0;
        border-radius: 0;
      }
    }
  }
}
