/* src/styles/app-design.css */

@layer app;

.page-app-design {
  --library-card-bg-color: hsl(14, 76%, 97%);

  .banner {
    .container.flex {
      background-image: url("/assets/app-design/desktop/bg-pattern-intro-app.svg");
      background-position: clamp(
          calc(0% - calc(75 / 16 * 1rem)),
          calc(
            0% - (calc(975 / 16 * 1rem) - 100vw) * 0.8 - calc(75 / 16 * 1rem)
          ),
          calc(0% - calc(225 / 16 * 1rem))
        )
        50%;
    }
  }

  .library {
    .leaf {
      top: -19.25rem;
    }
  }
}

/* Media Queries */
@media only screen and (width <= calc(670 / 16 * 1rem)) {
  .page-app-design {
    .banner {
      .container.flex {
        width: 100%;
        border-radius: 0;
        background-image: url("/assets/shared/desktop/bg-pattern-small-circle.svg");
        background-size: contain;
        background-position: top right;
        background-repeat: no-repeat;
      }
    }
  }
}
