/* Home page styles (index.html) */

/* src/styles/home.css */

@layer app;

:root {
  /* Semantic tokens based on base.css */

  /* Colors */
  --hero-bg-color: var(--clr-primary);
  --hero-text-color: var(--clr-white);
}

.page-home {
  .hero {
    margin-block-end: clamp(7.5rem, calc(6.62rem + 3.756vw), 10rem);

    .container.flex {
      position: relative;
      overflow: hidden;
      background-color: var(--hero-bg-color);
      color: var(--hero-text-color);
      border-radius: 1rem;
      padding-block: clamp(5rem, calc(3.57rem + 6.103vw), 9.063rem);
      padding-inline: clamp(1.5rem, calc(-0.063rem + 6.667vw), 5.938rem);
      background-image: url("/assets/home/desktop/bg-pattern-hero-home.svg");
      background-position: top right;
      background-repeat: no-repeat;
      anchor-name: --hero-container;
    }

    .hero__content {
      gap: calc(40 / 16 * 1rem);
      flex-basis: 53%;

      .hero__title {
        font-size: clamp(2rem, calc(1.648rem + 1.502vw), 3rem);
        font-weight: 500;
      }

      .hero__description {
        max-width: 50ch;
      }

      .btn.primary-btn {
        align-self: start;
      }
    }

    .hero__image {
      position: absolute;
      bottom: -35%;
      right: -7%;
      pointer-events: none;
      width: auto;
      height: auto;
      max-width: none;
    }
  }

  .projects {
    margin-block-end: clamp(7.5rem, calc(6.62rem + 3.756vw), 10rem);
    position: relative;

    .leaf {
      position: absolute;
      top: -29.75rem;
      z-index: -1;
    }

    .container.grid {
      column-gap: calc(30 / 16 * 1rem);
      row-gap: calc(24 / 16 * 1rem);
    }

    .project-card:first-of-type {
      grid-row: span 2;
    }
  }

  .characteristics {
    margin-block-end: clamp(7.5rem, calc(6.62rem + 3.756vw), 10rem);
    position: relative;

    .leaf {
      position: absolute;
      top: 8rem;
      right: 0;
      z-index: -1;
      transform: rotate(180deg);
    }

    .container.grid {
      column-gap: calc(30 / 16 * 1rem);
    }

    .characteristics__card {
      text-align: center;

      img {
        background-image: url("/assets/shared/desktop/bg-pattern-small-circle.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: calc(202 / 16 * 1rem);
        aspect-ratio: 1 / 1;
        margin-inline: auto;
        margin-block-end: calc(48 / 16 * 1rem);
      }

      h3 {
        font-size: calc(20 / 16 * 1rem);
        font-weight: 500;
        letter-spacing: 5px;
        margin-block-end: calc(32 / 16 * 1rem);
      }

      p {
        line-height: 1.85;
      }
    }
  }
}

/* Media Queries */
@media only screen and (max-width: calc(975 / 16 * 1rem)) {
  .page-home {
    .hero {
      .container.flex {
        flex-direction: column;
        align-items: center;
        background-position: 25rem center;
      }

      .hero__content {
        gap: calc(30 / 16 * 1rem);
        text-align: center;
        margin-block-end: 21rem;

        .btn.primary-btn,
        .hero__description {
          align-self: center;
        }
      }

      .hero__image {
        left: 50%;
        bottom: -45%;
        transform: translateX(-50%);
      }
    }

    .projects {
      .leaf {
        display: none;
      }
      .container.grid {
        grid-template-columns: 1fr;
      }
    }

    .characteristics {
      .leaf {
        display: none;
      }

      .container.grid {
        grid-template-columns: 1fr;
        row-gap: calc(32 / 16 * 1rem);
      }

      .characteristics__card {
        text-align: left;
        flex-direction: row;
        gap: calc(48 / 16 * 1rem);

        img {
          margin-block-end: 0;
        }

        div:has(h3[class*="uppercase"]) {
          align-self: center;

          h3 {
            margin-block-end: 1rem;
          }
        }
      }
    }
  }
}

@media only screen and (width <= calc(670 / 16 * 1rem)) {
  .page-home {
    .hero {
      .container.flex {
        width: 100%;
        border-radius: 0;
        background-position: 10rem center;
      }
    }

    .characteristics {
      .container.grid {
        row-gap: calc(80 / 16 * 1rem);
      }

      .characteristics__card {
        flex-direction: column;

        div:has(h3[class*="uppercase"]) {
          text-align: center;

          h3 {
            margin-block-end: calc(32 / 16 * 1rem);
          }
        }
      }
    }
  }
}

@media only screen and (width <= calc(400 / 16 * 1rem)) {
  .page-home {
    .hero {
      .container.flex {
        background-position: 0 center;
      }
    }
  }
}
