/* src/styles/locations.css */

@layer app;

.page-locations {
  .locations {
    .container.grid {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    .location-row {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 2rem;
      border-radius: 1rem;
      overflow: hidden;

      .location-content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        background-color: var(--clr-primary-shade);
        padding-block: 5.5rem;
        padding-inline: clamp(4.688rem, calc(3.6rem + 2.597vw), 5.938rem);
        border-radius: 1rem;

        @media only screen and (width > calc(670 / 16 * 1rem)) {
          background-image: url("/assets/shared/desktop/bg-pattern-two-circles.svg");
          background-repeat: no-repeat;
          background-position: bottom left;
        }

        h2 {
          color: var(--clr-primary);
          font-size: clamp(2rem, calc(1.824rem + 0.751vw), 2.5rem);
          font-weight: 500;
        }

        .location-details {
          gap: 7.125rem;

          .location-info,
          .contact-info {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            p {
              margin: 0;
              color: var(--clr-text-dark);

              strong {
                font-weight: 700;
              }

              a {
                color: inherit;
                text-decoration: none;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }

          .location-info {
            font-style: normal;
          }
        }
      }

      .location-map {
        margin: 0;
        border-radius: 1rem;
        overflow: hidden;
        align-self: stretch;

        picture,
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }

      &.location-row--reversed {
        grid-template-columns: 1fr 2fr;

        .location-map {
          order: -1;
        }
      }
    }
  }

  @media only screen and (width <= calc(975 / 16 * 1rem)) {
    .locations {
      .container.grid {
        gap: 7.5rem;
      }

      .location-row {
        grid-template-columns: 1fr;

        .location-map {
          order: -1;
        }

        &.location-row--reversed {
          grid-template-columns: 1fr;

          .location-map {
            order: -1;
          }
        }
      }
    }
  }

  @media only screen and (width <= calc(670 / 16 * 1rem)) {
    .locations {
      .container.grid {
        width: 100%;
        margin: 0;
        gap: calc(40 / 16 * 1rem);
      }

      .location-row {
        border-radius: 0;
        gap: 0;
        grid-template-rows: repeat(2, calc(396 / 16 * 1rem));

        .location-content,
        .location-map {
          border-radius: 0;
        }

        .location-content {
          text-align: center;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-image: url("/assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg");
            background-position: top right;
            background-repeat: no-repeat;
            opacity: 0.3;
            pointer-events: none;
            z-index: 0;
          }

          > * {
            position: relative;
            z-index: 1;
          }

          .location-details {
            flex-direction: column;
            gap: calc(24 / 16 * 1rem);
          }
        }
      }
    }
  }
}
