/* src/styles/web-design.css */

@layer app;

.page-web-design {
  --library-card-bg-color: hsl(14, 76%, 97%);
  .banner {
    .container.flex {
      background-image: url("/assets/web-design/desktop/bg-pattern-intro-web.svg");
      background-position: clamp(
          calc(100% + 0rem),
          calc(100% + (calc(975 / 16 * 1rem) - 100vw) * 0.8),
          calc(100% + calc(150 / 16 * 1rem))
        )
        50%;
    }
  }
}

/* Media Queries */
@media only screen and (width <= calc(670 / 16 * 1rem)) {
  .page-web-design {
    .banner {
      .container.flex {
        width: 100%;
        border-radius: 0;
        background-image: url("/assets/shared/desktop/bg-pattern-small-circle.svg");
        background-size: contain;
        background-position: top right;
        background-repeat: no-repeat;
      }
    }
  }
}
