<!-- Footer component - shared across all pages -->
<!-- Replace this comment with your actual footer markup -->

<div class="container flex flex-col">
  <section class="footer-nav flex flex-btwn-cntr">
    <a href="../index.html" class="logo-link">
      <img
        src="/assets/shared/desktop/logo-light.png"
        alt="Designo Logo"
        class="logo"
      />
    </a>
    <nav class="nav">
      <ul class="nav__list flex uppercase">
        <li class="nav__item">
          <a href="../pages/about.html" target="_blank" class="nav__link"
            >Our Company</a
          >
        </li>
        <li class="nav__item">
          <a href="../pages/locations.html" target="_blank" class="nav__link"
            >Locations</a
          >
        </li>
        <li class="nav__item">
          <a href="../pages/contact.html" target="_blank" class="nav__link"
            >Contact</a
          >
        </li>
      </ul>
    </nav>
  </section>
  <hr class="footer-divider" />
  <section class="footer-info flex">
    <address class="footer-info__address">
      <p class="footer-info__address-office">Designo Central Office</p>
      3886 Wellington Street<br />
      Toronto, Ontario M9C 3J5<br />
    </address>
    <div class="footer-info__contact">
      <p class="footer-info__contact-item">Contact Us (Central Office)</p>
      <p class="footer-info__contact-item">
        P :
        <a href="tel:+12538638967" class="footer-info__contact-link"
          >+1 253-863-8967</a
        >
      </p>
      <p class="footer-info__contact-item">
        M :
        <a href="mailto:contact@designo.co" class="footer-info__contact-link"
          >contact@designo.co</a
        >
      </p>
    </div>
    <ul class="footer-info__social-list flex">
      <li class="footer-info__social-item">
        <a href="#" class="footer-info__social-link">
          <img src="/assets/shared/desktop/icon-facebook.svg" alt="Facebook" />
        </a>
      </li>
      <li class="footer-info__social-item">
        <a href="#" class="footer-info__social-link">
          <img src="/assets/shared/desktop/icon-youtube.svg" alt="YouTube" />
        </a>
      </li>
      <li class="footer-info__social-item">
        <a href="#" class="footer-info__social-link">
          <img src="/assets/shared/desktop/icon-twitter.svg" alt="Twitter" />
        </a>
      </li>
      <li class="footer-info__social-item">
        <a href="#" class="footer-info__social-link">
          <img
            src="/assets/shared/desktop/icon-pinterest.svg"
            alt="Pinterest"
          />
        </a>
      </li>
      <li class="footer-info__social-item">
        <a href="#" class="footer-info__social-link">
          <img
            src="/assets/shared/desktop/icon-instagram.svg"
            alt="Instagram"
          />
        </a>
      </li>
    </ul>
  </section>
</div>
